.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
}

header:after {
    content:' ';
    display: block;
    border: .5px solid #cccccc;
}

.main-content-wrapper {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    height: 500px;
    /* padding: 20px 20px 20px 20px; */
    margin-top: 40px;
    /* padding: 50px 50px 50px 50px; */
}

h2 {
    color:#4aaaa5;
    padding-left: 20px;
    padding-top: 10px;
}

h2:after {
    content:' ';
    display: block;
    border: .5px solid #cccccc;
}

.my-photo {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

body {
    background-image: url(../images/interlaced.png);
    color: #777777;
    width: 90%;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

footer:before{
    content:' ';
    display: block;
    border: 3px solid #4aaaa5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    vertical-align: baseline;
    background-color: #3b3b3b;
    text-decoration: none;
    color: #ffffff;
    /* overflow: hidden; */
  }






.social > li {
    display: inline-block;
  }


/* menu styles */


nav ul{
    list-style-type: none;
    margin: 0px;
    /* padding: 10px; */
}

nav a{
    text-decoration: none;
    /* text-align: center; */
    color: ffffff;
    display: block;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name-header{
    font-size: 21.5px;
    background: #4aaaa5;
    padding: 10px;
}

nav >.name-header a {
    color: #ffffff;

}

nav >.links{
    display: flex;
    justify-content: center;
    align-self: center;
}

nav >.links a {
    color: #777777;
}

nav a:hover {
    background-color: #7eb9b6;
}


/* flex styles below */

@media screen and (min-width: 768px) {

    nav ul{
        display: flex;
    }

    nav li{
        flex: 1;
    }

    nav li:not(:first-child):before {
        content: ' | ';
        font-size: 26px;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        text-align: center;
        justify-content: center;
        align-items: center;
        /* right: -2px; */
        /* top: 25%; */
        /* width: 2px; */
        /* height: 50%; */
    }

        nav {
          display: flex;
          justify-content: space-between
        }


}



/* Contact page field formatting */
form {
    padding: 1em;
    width: 300px;

} 
    
form div + div {
    margin-top: 1em;
  }

button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12pt;
    cursor: pointer;
}

#name {
    padding-right: 780px; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
 }

 #mail {
    padding-right: 780px; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
 }


#msg {
   padding-right: 780px; 
   padding-left: 5px;
   padding-bottom: 75px;
   padding-top: 5px;
}



/* Portfolio page formatting */

/* portfolio page */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px 40px;
    overflow: auto;
  }
  
  /* .work:nth-child(even) {
    margin-right: 40px;
  } */
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }


